Binaries
DerivedDataCache
Intermediate
Saved
Platforms
BUILDversions
Content

Plugins/InventorySystem/Binaries/
Plugins/InventorySystem/Intermediate/

.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.vsconfig